.footer {
    
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(15, 23, 42, 0.5);
    /* Sombre transparent */
    backdrop-filter: blur(10px);
    padding: 3rem 1rem 1.5rem;
    color: #94a3b8;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.footer-section h4 {
    color: white;
    margin-bottom: 1rem;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.footer-logo svg {
    color: #a855f7;
    /* Violet */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.footer-section li:hover {
    color: #a855f7;
}

.footer-bottom {
    max-width: 1100px;
    margin: 2rem auto 0;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
}

.heart-icon {
    display: inline;
    fill: #ef4444;
    color: #ef4444;
}

/* Mobile */
@media (max-width: 600px) {
    .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

.pre-footer-banner img {
    width: 100%;
    margin-top:170px;
    height: 600px;
}